#main-container{
  max-width: 1200px;
  min-height: 800px;
  padding: 10px 25px;
  margin: 0px auto;
  background-color: #f6f6f6;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

.form-signin{
	max-width: 250px;
	margin: 0px auto;
}

.thread {
	max-width: 100%;
	min-height: 10em;
	border: 1px solid;
	
}

.thread-head {
	background-color: #696969;
	color: white;
	padding: 2px 0px;
}

.thread-head .date{
	padding-left: 5em;
	float: left;
}

.thread-head .postnumber {
	text-align: right;
	padding-right: 1em;
	float: right;
}

.thread-info p{
	font-size: 80%;
	margin: 2px;
}

.thread-info a{
	font-size: 110%;
	text-decoration: strong;
}

.thread-info hr{
	margin: 2px 2px;
	border: 0;
	border-top: 1px solid #eee;
}

