{% extends "base.html" %}

{% block content %}
  
  <h2>Luo uusi viestiketju</h2>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          {% for err in error %}
          <li>{{err}}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="POST" action="{{base_path}}/topic">

    <div class="form-group">
      <label for="topic">Otsikko</label>
      <input type="text" class="form-control" name="topic" value="{{topic.topic_topic}}">
    </div>

    <div class="form-group">
      <label for="post-content">Viesti</label>
      <textarea class="form-control" rows="5" name="content">{{topic.topic_content}}</textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Luo ketju</button>
    </div>

  </form>

  


{% endblock %}