{% extends "base.html" %}

{% block content %}

<h3>{{topic.topic_topic}}</h3>

<div class="thread thread-op">
	<div class="thread-head"  style="background-color:black;">
		<span class="date">{{topic.topic_added|date("d/m/Y H:i")}}</span>
    
    <span>
      <form method="get" action="{{base_path}}/topic/{{topic.id}}/edit" class="pull-right">
        <button type="submit"><i class="glyphicon glyphicon-pencil"></i></button>
      </form>

      <form method="post" action="{{base_path}}/topic/{{topic.id}}/destroy" class="pull-right">
        <button type="submit"><i class="glyphicon glyphicon-trash"></i></button>
      </form>
    </span>

		<div style="clear: both;"></div>
	</div>


	<div class="row">
  		<div class="col-xs-6 col-md-3 thread-info">
  			<a href="#">{{ topic.user_name }}</a>
  			<hr>
  			<p>rekisteröitynyt: 17.02.2009</p>
  			<p>viestejä: 1000</p>
  		</div>
  		
  		<div class="col-xs-12 col-md-9">
  			<p>{{topic.topic_content}}</p>
  		</div>
	</div>
</div>

{% for reply in replies %}
  <div class="thread thread-op">
  <div class="thread-head">
    <span class="date">{{reply.reply_added|date("d/m/Y H:i")}}</span><span class="postnumber"> #{{loop.index}}</span>

    <div style="clear: both;"></div>
  </div>

  <div class="row">
      <div class="col-xs-6 col-md-3 thread-info">
        <a href="#">{{ reply.user_name }}</a>
        <hr>
        <p>rekisteröitynyt: 17.02.2009</p>
        <p>viestejä: 1000</p>
      </div>
      
      <div class="col-xs-12 col-md-9">
        <p>{{reply.reply_content}}</p>
      </div>
  </div>
</div>
{% endfor %}

<hr>

{% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          {% for err in error %}
          <li>{{err}}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

<form method="POST" action="{{base_path}}/reply">

    <div class="form-group">
      <label for="reply-content">Vastaus</label>
      <textarea class="form-control" rows="5" name="content"></textarea>
    </div>

    <input type="hidden" name="topic-id" value="{{topic.id}}">

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Vastaa ketjuun</button>
    </div>

  </form>		
	
	

</div>


{% endblock %}