{% extends "base.html" %}

{% block content %}

{% if message %}
<div class="alert alert-success">
        {{message}}
</div>
{% endif %}








<h3>{{topic.topic_topic}}</h3>

<div class="thread thread-op">
	<div class="thread-head">
		<span class="date">{{topic.topic_added}}</span><span class="postnumber"> #1</span>

		<div style="clear: both;"></div>
	</div>


	<div class="row">
  		<div class="col-xs-6 col-md-3 thread-info">
  			<a href="#">tmekkelikovastikoodattu</a>
  			<hr>
  			<p>rekisteröitynyt: 17.02.2009</p>
  			<p>viestejä: 1000</p>
  		</div>
  		
  		<div class="col-xs-12 col-md-9">
  			<p>{{topic.topic_content}}</p>
  		</div>
	</div>

		
	
	

</div>

{% for reply in replies %}
  <div class="thread thread-op">
  <div class="thread-head">
    <span class="date">{{reply.reply_added}}</span><span class="postnumber"> #2</span>

    <div style="clear: both;"></div>
  </div>

  <div class="row">
      <div class="col-xs-6 col-md-3 thread-info">
        <a href="#">tmekkelikovaa</a>
        <hr>
        <p>rekisteröitynyt: 17.02.2009</p>
        <p>viestejä: 1000</p>
      </div>
      
      <div class="col-xs-12 col-md-9">
        <p>{{reply.reply_content}}</p>
      </div>
  </div>
</div>
{% endfor %}



<div class="thread thread-op">
	<div class="thread-head">
		<span class="date">11.9.2015 klo 12.31</span><span class="postnumber"> #3</span>

		<div style="clear: both;"></div>
	</div>


	<div class="row">
  		<div class="col-xs-6 col-md-3 thread-info">
  			<a href="#">tmekkeli</a>
  			<hr>
  			<p>rekisteröitynyt: 17.02.2009</p>
  			<p>viestejä: 1000</p>
  		</div>
  		
  		<div class="col-xs-12 col-md-9">
  			<p>joo jooojojojjo jojoojo okei moi kylni</p>
  		</div>
	</div>

		
	
	

</div>


{% endblock %}